<html lang="ru">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy</title>
</head>
<body>
{% block content %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.price }} рублей</p>
    <button id="buy-button">Buy</button>
    <script src="http://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
      var paramsString = document.location.pathname.slice(-1);
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/' + paramsString, {method: 'GET'})
        .then(response => response.text())
        .then(session => stripe.redirectToCheckout({ sessionId: session }))
      });
    </script>
    <hr>
{% endblock content %}
</body>
</html>
