{% extends 'base.html' %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.human_price }} $</p>
    <button id="buy-button">Buy</button>
    <script src="http://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
      var paramsString = document.location.pathname.slice(-1);
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/' + paramsString, {method: 'GET'})
        .then(response => response.text())
        .then(session => stripe.redirectToCheckout({ sessionId: session }))
      });
    </script>
    <hr>
{% endblock content %}
